.content {
    border: solid 5px black;
    width: 50%;
    text-align: center;
    padding: 5%;
    margin: 0 auto;
    font-size: 125%;
}

.info {
    border: solid 3px black;
    padding: 2%;
    margin-top: 2%;
}